.home-container {
  background-color: #152850;
  min-height: 870px;
}

.heading {
  color: #ffffff;
  font-size: 60px;
  font-family: 'Roboto';
  text-align: center;
}
.holder-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
